[submodule "public"]
	path = public
	url = git@github.com:datathroughdesign/datathroughdesign.github.io.git
	branch = master
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/hivickylai/hugo-theme-introduction
